@charset "UTF-8"

main {
    grid-template-columns: auto 300px 1fr auto;
  }

  section#ficha {
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 10px;
  }

  div#social {
    display: flex;
    justify-content: center;
    gap: 1.2em;
  }
  section#detalhes {
    grid-column: 3 / 4;
  }

  #skill-container {
    grid-template-columns: 1fr 1fr;
}

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }