header {
  width: 100vw;
}
main {
   display: grid;
   grid-template-columns: auto 300px 1fr auto;
   gap: 20px;
}

section#ficha {
    grid-column: 2/3;
}

div#social {
    gap: 1.2em;
}

section#detalhes {
    grid-column: 3;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

#projeto-container .projeto-info {
    max-width: 80%;
  }

#projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }