main {
    gap: 20px;
}

section#ficha {
    
}

div#social {
    gap: 1.2em;
}

section#detalhes {
    
}

#skill-container {
    
}

#projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

#projeto-container .projeto-info {
    max-width: 80%;
  }

#projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }