main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 10px;
  margin-top: 20px;
}

section#ficha {
    grid-column: 2;
}

section#detalhes {
    grid-column: 2;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}