main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 10px;
  margin-top: 20px;
}

section#ficha {
    grid-column: 2/3;
}

section#detalhes {
    grid-column: 2;
}

.videocontainer iframe {
  min-height: 400px;
  aspect-ratio: 16/9;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}